# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# ML / Deep Learning Large Files
datasets/
models/
logs/
.mlruns/
mlruns/
*.pth
*.h5
*.ckpt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
